# Large data files
*.nc
*.npz

# macOS specific files
.DS_Store

# Python specific files
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# VS Code
.vscode/